# `jupyter_anywidget_pglite`

Example of `jupyter_anywidget_pglite` â€” run queiries on single user PostgreSQL database using pglite wasm package.

*Runs in `pyodide` kernel.*

In [1]:
%pip install jupyter_anywidget_pglite
%pip install pandas

In [2]:
%load_ext jupyter_anywidget_pglite

In [3]:
from jupyter_anywidget_pglite import pglite_headless
pg = pglite_headless()

postgresWidget(headless=True, response={'status': 'initialising'})

Currently, we can only run one SQL query per cell.

In [5]:
%%pglite_magic -w pg
CREATE TABLE IF NOT EXISTS test  (
        id serial primary key,
        title varchar not null
      );

In [6]:
%%pglite_magic
INSERT INTO test (title) VALUES ('dummy');

In [8]:
%%pglite_magic
INSERT INTO test (title) VALUES ('dummy2');

In [16]:
%%pglite_magic
SELECT * FROM test;

In [19]:
pg.response

{'status': 'processing'}