# `jupyter_anywidget_pglite`

Example of `jupyter_anywidget_pglite` â€” run queiries on single user PostgreSQL database using pglite wasm package.

*Runs in `pyodide` kernel.*

In [20]:
%pip install jupyter_anywidget_pglite
%pip install pandas

In [21]:
%load_ext jupyter_anywidget_pglite

The jupyter_anywidget_pglite extension is already loaded. To reload it, use:
  %reload_ext jupyter_anywidget_pglite

In [27]:
from jupyter_anywidget_pglite import pglite_inline
pg = pglite_inline()

postgresWidget(response={'status': 'initialising'})

Currently, we can only run one SQL query per cell.

In [28]:
%%pglite_magic -w pg
CREATE TABLE IF NOT EXISTS test  (
        id serial primary key,
        title varchar not null
      );

In [29]:
%%pglite_magic
INSERT INTO test (title) VALUES ('dummy');

In [8]:
%%pglite_magic
INSERT INTO test (title) VALUES ('dummy2');

In [30]:
%%pglite_magic
SELECT * FROM test;

In [31]:
pg.response

{'status': 'completed',
 'response': {'rows': [{'id': 1, 'title': 'dummy'}],
  'fields': [{'name': 'id', 'dataTypeID': 23},
   {'name': 'title', 'dataTypeID': 1043}],
  'affectedRows': 0},
 'response_type': 'single'}

In [33]:
pg.df()

    title
id
1   dummy