# `jupyter_anywidget_pglite`

Example of `jupyter_anywidget_pglite` â€” run queiries on single user PostgreSQL database using pglite wasm package.

*Runs in `pyodide` kernel.*

In [4]:
%pip install jupyter_anywidget_pglite
%pip install pandas

In [5]:
%load_ext jupyter_anywidget_pglite

In [ ]:
from jupyter_anywidget_pglite import pglite_headless
pg = pglite_headless()

Currently, we can only run one SQL query per cell.

In [16]:
%%pglite_magic pg
CREATE TABLE IF NOT EXISTS test  (
        id serial primary key,
        title varchar not null
      );

In [17]:
%%pglite_magic pg
INSERT INTO test (title) VALUES ('dummy');

In [27]:
%%pglite_magic pg
INSERT INTO test (title) VALUES ('dummy2');

In [25]:
%%pglite_magic pg
SELECT * FROM test;

In [26]:
pg.df()

     title
id
1    dummy
2    dummy
3   dummy2